<h1>ngIf</h1>

<button (click)="trocarValor()">Trocar Valor</button>

<div *ngIf="deveExibir; else elseBlock">
    Olá estou dentro do ngIf
</div>
<ng-template #elseBlock>
    deveExibir é falso burro
</ng-template>

<div *ngIf="soma(5,4) > 10">
    exibe baseado na soma
</div>

<hr>

<h1>NgFor</h1>
<ul>
    <li *ngFor="let fruta of listaFrutas">
        {{fruta}}
    </li>
</ul>

<ul>
    <li *ngFor="let carro of listaCarros; let index = index; first as primeiro">
       {{primeiro}} {{index+1}} - {{carro.placa}} {{carro.cor}}
    </li>
</ul>

<hr>

<h1>Exercicio</h1>

<ul>
    <li *ngFor="let meme of memes">
        <h2>{{meme.categoria}}: </h2>
            <div *ngFor="let imagem of meme.memes; even as par">
                <img *ngIf="par; else elseBlock2" [src]="PREFIXO_URL+imagem.imagemURL" alt="">
                <ng-template #elseBlock2>
                    <h2>PAR</h2>
                </ng-template>
            </div>
    </li>
</ul>